<%= render 'shared/errors', obj: @student%>

<div class="jumbotron">

<%= form_for(@student, :html => {class: "horizontal", role: "form"}) do |f| %>
<div class= "form-group">
  <div class= "control-label">
    <%= f.label :"Enrollment Number"%>
    </div>

    <%= f.text_field :enrollnumber, class: "form-control", placeholder: "Enter your Enrollment Number", autofocus: true %>
</div>
<div class= "form-group">
  <div class= "control-label">
    <%= f.label :"First Name"%>
        </div>

    <%= f.text_field :firstname, class: "form-control", placeholder: "Enter your First Name", autofocus: true%>
</div>
<div class= "form-group">
  <div class= "control-label">
    <%= f.label :"Last Name"%>
        </div>
    <%= f.text_field :lastname, class: "form-control", placeholder: "Enter your Last Name", autofocus: true%>
</div>
<div class= "form-group">
  <div class= "control-label">
    <%= f.label :Branch%>
        </div>
    <%= f.text_field :branch, class: "form-control", placeholder: "Enter your Branch", autofocus: true%>
</div>
<div class= "form-group">
  <div class= "control-label">
    <%= f.label :Batch%>
        </div>
    <%= f.text_field :batch, class: "form-control", placeholder: "Enter your Batch", autofocus: true%>
</div>
<div class= "form-group">
  <div class= "control-label">
    <%= f.label :Contact%>
        </div>
    <%= f.text_field :contact, class: "form-control", placeholder: "Enter your Contact Number", autofocus: true%>
</div>
<div class= "form-group">
  <div class= "control-label">
    <%= f.label :email%>
        </div>
    <%= f.email_field :email, class: "form-control", placeholder: "Enter your Email Address", autofocus: true%>
</div>
<% if !student_logged_in? %>
<div class="form-group">
  <div class= "control-label">
    <%= f.label :password%>
        </div>
    <%= f.password_field :password, class: "form-control", placeholder: "Enter Password", autofocus: true%>
</div>
<% end %>
<br>
    <%= f.submit(@student.new_record? ? "Register" : "Update Account", class:"btn btn-lg btn-primary but")%>
<% end %>
</div>