
<h1 align="center"> All Students registered for Smart-ID</h1>
<h1 align="center">All Students registered for Smart-ID</h1>
<% if logged_in? %>
<div class="hd">
<%= link_to 'Smart-ID(Your Profile)'%>
</div>
<% else %>
<div class="hd">
<%= link_to 'Register for Smart-ID', new_student_path, class: "hd" %>
</div>
<% end %>

<table class="table">
  <thead>
  <tr>
    <th scope="col"> </th>
    <th scope="col">Name</th>
  </tr>
  </thead>
  <tbody>
  <% @students.each do |f| %>
  <tr>
    <td><%= link_to (gravatar_for f), student_path(f)%></td>
    <td><%= link_to (f.firstname+" "+f.lastname), student_path(f)%></td>
    <% if admin_logged_in?%>
    <td><%= link_to "Edit", edit_student_path(f), class: "btn btn-primary"%></td>
    <td><%=link_to 'Delete', student_path(f), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"%></td>
    <% end %>
  </tr>
  <% @students.each do |student| %>
    <tr>
      <td><%= gravatar_for student, size: 100 %></td>
      <td><%=student.enrollnumber.to_s.rjust(11,'0')%></td>
      <td><%=student.firstname%></td>
      <td><%=student.lastname%></td>
      <td><%=student.branch%></td>
      <td><%=student.batch%></td>
      <td><%=student.contact%></td>
            <td><%=link_to 'Show', student_path(student), class: "btn btn-primary"%></td>
      <% if logged_in? && current_student.enrollnumber == student.enrollnumber%>
        <td><%=link_to 'Edit', edit_student_path(student), class: "btn btn-secondary"%></td>
        <td><%=link_to 'Delete', student_path(student), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"%></td>
        <td> <%= link_to 'Smart-ID(Student)', user_path(student), class: "btn btn-primary" %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
