
<h1 align="center"> All Students registered for Smart-ID</h1>
<% if logged_in? %>
<div class="hd">
  <% if Smartid.find_by(:registration_number => (Student.find(session[:student_id])).enrollnumber) %>
    <%= link_to 'Proceed to Smart-ID portal'%>
  <% else %>
    <%= link_to 'Register for Smart-ID', new_student_path, class: "hd" %>
  <% end %>
</div>
<% else %>
<div class="hd">
  <!-- -->
</div>
<% end %>
<table class="table">
  <tbody>
  <% @students.each do |student| %>
    <tr>
      <td><%= link_to (gravatar_for student), student_path(student) %></td>
      <td><%=student.enrollnumber.to_s.rjust(11,'0')%></td>
      <td><%=student.firstname+" "+student.lastname%></td>
      <td><%=student.branch%></td>
      <td><%=student.batch%></td>
      <td><%=student.contact%></td>

      <% if student_logged_in? && current_student.enrollnumber == student.enrollnumber%>
        <td> <%= link_to 'Smart-ID(Student)', user_path(student), class: "btn btn-primary" %></td>
    <% elsif admin_logged_in?%>
    <td><%= link_to "Edit", edit_student_path(student), class: "btn btn-primary"%></td>
    <td><%=link_to 'Delete', student_path(student), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"%></td>
    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>
