<h1 align="center">Student Profile</h1>
<table class="table">
  <thead>
  <tr>
    <th scope="col"> </th>
    <th scope="col">Enrollment Number</th>
    <th scope="col">First name</th>
    <th scope="col">Last name</th>
    <th scope="col">Branch</th>
    <th scope="col">Batch</th>
    <th scope="col">Contact</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= gravatar_for @student, size: 150 %></td>
    <td><%=@student.enrollnumber%></td>
    <td><%=@student.firstname%></td>
    <td><%=@student.lastname%></td>
    <td><%=@student.branch%></td>
    <td><%=@student.batch%></td>
    <td><%=@student.contact%></td>
    <% if logged_in? && current_student.enrollnumber == @student.enrollnumber%>
      <td><%= link_to 'Update your Profile', edit_student_path(@student)%></td>
      <td><%= link_to 'Delete your Profile', student_path(@student), method: :delete, data: {confirm: "Are your sure?"}%></td>
    <%  end %>
    <td><%= link_to 'Student Portal', students_path %></td>
  </tr>
  </tbody>
</table>
