<% if @faculty.errors.any?%>
<h2>The following errors prevented the faculty from getting created : </h2>
<ul>
  <% @faculty.errors.full_messages.each do |msg|%>
      <li><%= msg%></li>
  <% end %>
</ul>

<% end %>
<div class="jumbotron">
<%= form_for(@faculty, :html => {class: "horizontal", role: "form"}) do |f| %>
  <div class="form-group">
    <div class="control-label">
    <%= f.label :"First Name"%>
    </div>
    <%= f.text_field :firstname, class: "form-control", placeholder: "Enter your First Name" %>
  </div>
<div class= "form-group">
  <div class= "control-label">
    <%= f.label :"Last Name" %>
    </div>
    <%= f.text_field :lastname, class: "form-control", placeholder: "Enter your Last Name"%>
    </div>
<div class= "form-group">
  <div class= "control-label">
    <%= f.label :Specialization%>
            </div>
    <%= f.text_area :teaching_field, class: "form-control", placeholder: "Enter Specialization"%>
        </div>

  <div class= "form-group">
  <div class= "control-label">
    <%= f.label :designation %>
    </div>
    <%= f.radio_button :designation, 'HOD' %>HOD<br/>
    <%= f.radio_button :designation, 'Assistant Professor'%>Assistant Professor<br/>
    <%= f.radio_button :designation, 'Dean'%>DEAN<br/>
    <%= f.radio_button :designation, 'Clerk'%>Clerk<br/>
    <%= f.radio_button :designation, 'Principal'%>Principal<br/>
    <%= f.radio_button :designation, 'Lab Assistant'%>Lab Assistant<br/>
  </div>

 <div class= "form-group">
  <div class= "control-label">
    <%= f.label :contact %>
    </div>
    <%= f.text_field :contact, class: "form-control", placeholder: "Enter Contact Number" %>
  </div>

<div class= "form-group">
  <div class= "control-label">
    <%= f.label :email%>
    </div>
    <%= f.text_field :email, class: "form-control", placeholder: "Enter Email Address"%>
  </div>

    <%= f.submit 'Register for Faculty Portal', :class=> 'btn btn-primary but' %>
<% end %>

<%= link_to "Back To Faculties listing", faculties_path%>