<h1 align="center">Faculty Profile</h1>
<table class="table">
  <thead>
  <tr>
    <th scope="col"> </th>
    <th scope="col">First Name</th>
    <th scope="col">Last name</th>
    <th scope="col">Specialization</th>
    <th scope="col">Designation</th>
    <th scope="col">Email</th>
    <th scope="col">Contact</th>
  </tr>
  </thead>
  <tbody>
  <% @faculties.each do |f| %>
  <tr>
    <td> </td>
    <td><%= f.firstname%></td>
    <td><%= f.lastname%></td>
    <td><%= f.teaching_field%></td>
    <td><%= f.designation%></td>
    <td><%= f.email%></td>
    <td><%= f.contact%></td>
    <td><%= link_to "Edit", edit_faculty_path(f)%>
    <td><%= link_to "Show", faculty_path(f)%>
    <td><%= link_to "Delete", faculty_path(f), method: :delete, data: {confirm: "Are you sure?"}%></td>
  </tr>
  <% end %>
  </tbody>
</table>
