<h1 align="center">
  <%= @faculty.designation+" "+@faculty.firstname+" "+@faculty.lastname%>'s Profile
</h1>
<h2 align="center"><%= gravatar_for @faculty , size: 150%></h2>
<div class="container">
  <div align="center">
    <p>NAME: <%= @faculty.firstname+" "+@faculty.lastname%></p>
    <p>Specialisation: <%= @faculty.teaching_field%></p>
    <p>Designation: <%= @faculty.designation%></p>
    <p>E-mail: <%= @faculty.email%></p>
    <p>Contact: <%= @faculty.contact%></p>
  </div>
</div>