<h1 align = "center">Your Smart-ID Profile</h1><br>

<div align = "center">
  <%= gravatar_for @student , size: 100%> <br>
  <strong>0<%= @student.enrollnumber%></strong>
</div>
<br> <br>
<div align = "center">
<p><strong>Details</strong></p>
<p>Firstname:<%= @student.firstname%></p>
<p>Lastname:<%= @student.lastname%></p>
<p>Branch: <%= @student.branch%></p>
<p>Batch: <%= @student.batch%></p>
</div>

<div align = "center">
  <p><strong>Smart-ID Data</strong></p>
  <table style = "border: 1px solid black">
    <tr style = "border: 1px solid black">
      <th>User ID</th>
      <th>Balance</th>
      <th>Last Transaction</th>
      <th>Dues</th>
    </tr>
    <tr style = "border: 1px solid black">
      <td><%= @id.registration_number.to_s.rjust(11,'0')%></td>
      <td><%= @id.balance%></td>
      <td><%= @id.last_transaction%></td>
      <td><%= @id.dues%></td>
    </tr>
  </table>
</div>
