<h1 align = "center">Your Smart-ID Profile</h1><br>

<div align = "center">
  <%= gravatar_for @student , size: 100%> <br>
  <strong>0<%= @student.enrollnumber%></strong>
</div>
<br> <br>
<div align = "center">
  <table style = "border: 1px solid black" class="table">
    <tr style = "border: 1px solid black">
      <th>User ID</th><td><%= @id.registration_number.to_s.rjust(11,'0')%></td></tr>
      <tr style = "border: 1px solid black"><th>Balance</th><td><%= @id.balance%></td></tr>
      <tr style = "border: 1px solid black"><th>Last Transaction</th><td><%= @id.last_transaction%></td></tr>
    <tr style = "border: 1px solid black">  <th>Dues</th><td><%= @id.dues%></td>
    </tr>
  </table>
</div>
