<div class="container">
<div class="jumbotron cent">
<h1 class="text-primary title">SMART-ID</h1>
<% if logged_in? %>
  <%= link_to 'Students', students_path, class: "btn btn-primary btn-lg" %> | <%= link_to 'Faculty', faculties_path, class: "btn btn-primary btn-lg" %> | <%= link_to 'Admin', management_path, class: "btn btn-primary btn-lg" %>
<% else %>
    <span>
      <a class="dropdown-toggle btn btn-primary btn-lg" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Register
      </a>
      <div class="dropdown-menu">
        <%= link_to 'As Student', new_student_path, class: "dropdown-item" %>
        <%= link_to 'As Faculty', new_faculty_path, class: "dropdown-item" %>
      </div>
    </span>
      &nbsp;&nbsp;
    <span>
      <a class="dropdown-toggle btn btn-primary btn-lg" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Login
      </a>
      <div class="dropdown-menu">
        <%= link_to 'As Student', student_login_path, class: "dropdown-item" %>
        <%= link_to 'As Faculty', faculty_login_path, class: "dropdown-item" %>
        <div class="dropdown-divider"></div>
        <%= link_to 'Admin', management_path, class: "dropdown-item" %>
      </div>
    </span>
<% end %>
</div>
</div>