<h1 align="center"> Requests for card issue </h1>
<br/>
<table class="table">
  <tbody>
  <% @students.each do |student| %>
  <% if student.request_id != nil %>
    <tr>
      <td><%= link_to (gravatar_for student), student_path(student) %></td>
      <td><%=student.enrollnumber.to_s.rjust(11,'0')%></td>
      <td><%=student.firstname+" "+student.lastname%></td>
      <td><%=student.branch%></td>
      <td><%=student.batch%></td>
      <td><%=student.contact%></td>

      <td><%= link_to 'Issue Card', new_user_path, class: "btn btn-success" %></td>
    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>
