<nav class="navbar navbar-light bg-light">
  <%= link_to "Smart-ID", root_path, class: "navbar-brand logo" %>

    <% if logged_in? %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if student_logged_in? %>
            <em><b><%= current_student.firstname+" "+current_student.lastname %>(Student)</b></em>
          <% elsif faculty_logged_in? %>
            <em><b><%= current_faculty.firstname+" "+current_faculty.lastname + "(#{current_faculty.designation})"%></b></em>
          <% else %>
            <em><b><%= current_admin.firstname+" "+current_admin.lastname %> (Admin)</b></em>
           <% end %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if student_logged_in? %>
            <%= link_to 'Edit Your Profile', edit_student_path(current_student), class: "dropdown-item" %>
            <%= link_to 'View Your profile', student_path(current_student), class: "dropdown-item" %>
          <% elsif faculty_logged_in? %>
            <%= link_to 'Edit Your Profile', edit_faculty_path(current_faculty), class: "dropdown-item" %>
            <%= link_to 'View Your profile', faculty_path(current_faculty), class: "dropdown-item" %>

           <% else %>
            <%= link_to 'New student', new_student_path, class: "dropdown-item"%>
            <%= link_to 'New Faculty', new_faculty_path, class: "dropdown-item"%>
            <%= link_to 'Requests for card issue', requests_path, class: "dropdown-item"%>
          <% end %>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item active">
    <% if student_logged_in? %>
    <em> <%= link_to "Logout", student_logout_path, method: :delete, class: "nav-link" %></em>
    <% elsif faculty_logged_in? %>
     <em><%= link_to "Logout", faculty_logout_path, method: :delete, class: "nav-link" %></em>
    <% else %>
     <em><%= link_to "Logout", admin_logout_path, method: :delete, class: "nav-link" %></em>
       <% end %>
      </li>
      </ul>
    <% end %>
</nav>
